@media (max-width: 1300px) {
  .mainblock__content .user-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 1220px) {
  .wrapper .man-image {
    bottom: -3%;
    right: 0;
  }
  .wrapper .woman-image {
    left: -15%;
  }
  .wrapper .fog-image {
    left: -20%;
    bottom: -20%;
  }
  .wrapper .container h1 {
    margin: 100px auto 180px;
  }
}
@media (max-width: 1070px) {
  .mainblock__header {
    font-size: 24px;
  }
}
@media (max-width: 1036px) {
  .mainblock .sidebar {
    width: 66px;
    padding: 5px;
  }
  .mainblock .sidebar nav {
    margin: 0px 0px 0px 0px;
  }
  .mainblock .sidebar__logo {
    margin: 0px 0px 30px 0px;
  }
  .mainblock .sidebar__logo img {
    display: none;
  }
  .mainblock .sidebar__link {
    padding: 10px;
  }
  .mainblock .sidebar__link span {
    display: none;
  }
  .mainblock .sidebar .btn-logout span {
    display: none;
  }
  .mainblock__body {
    margin: 0px 0px 0px 66px;
  }
}
@media (max-width: 991.98px) {
  .mainblock__header {
    font-size: 24px;
    text-align: left;
  }
}
@media (max-width: 805px) {
  .mainblock__header {
    font-size: 22px;
  }
  .mainblock__header h1 {
    max-width: 500px;
  }
  .mainblock__content h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .mainblock__content .user-info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .mainblock__content .training-content .training-buttons {
    width: 200px;
  }
  .mainblock__content .training-content .training-block {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  .mainblock__content .training-content .training-block .exercise {
    width: 100%;
    flex-direction: column;
  }
  .mainblock__content .training-content .training-block .exercise__ready-btn {
    margin-bottom: 5px;
  }
}
@media (max-width: 767.98px) {
  .mainblock__content .diet-content .products-table thead {
    font-size: 12px;
    height: 55px;
  }
  .mainblock__content .diet-content .products-table thead th {
    padding: 5px;
  }
  .mainblock__content .diet-content .products-table__body {
    font-size: 10px;
  }
  .mainblock__content .diet-content .products-table__row td {
    padding: 5px;
  }
  .mainblock__content .diet-content .products-table__name {
    font-size: 10px;
  }
  .mainblock__content .exercises-content .exercises-body .exercise-body .exercise-block .exercise-content {
    flex-direction: column;
  }
  .mainblock__content .progress-content .tab-buttons .tab-button {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .mainblock__content .progress-content .charts {
    overflow-x: scroll;
  }
  .mainblock__content .progress-content .charts .chart {
    width: 600px;
    height: 100%;
  }
  .mainblock__content .progress-content .charts .chart canvas {
    width: 600px;
  }
  .mainblock__content .progress-content .charts .chart.active {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .wrapper .fog-image {
    width: 300%;
    left: -70%;
    bottom: -10%;
  }
  .wrapper .man-image {
    display: none;
  }
  .wrapper .woman-image {
    display: none;
  }
  .wrapper .container h1 {
    margin: 50px auto 180px;
  }
  .start-container h1 {
    font-size: 50px;
  }
  .start-container .modal-container {
    align-items: end;
  }
  .start-container .modal-container .modal {
    width: 90%;
  }
  .start-container .modal-container .modal__footer {
    font-size: 15px;
  }
  .start-container .modal-container .modal__footer span {
    padding-left: 15px;
  }
  .start-container .modal-container .modal__form {
    padding: 30px 0px;
  }
  .start-container .modal-container .modal__form .input-label {
    font-size: 16px;
    margin-bottom: 2px;
  }
  .start-container .modal-container .modal__form .form-error {
    margin-top: 10px;
    font-size: 12px;
  }
  .start-container .modal-container .modal__email, .start-container .modal-container .modal__password {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .start-container .modal-container .modal .modal-header {
    padding-top: 10px;
    font-size: 25px;
  }
  .start-container .modal-container .modal .successful-registration-block {
    font-size: 30px;
  }
  .start-container .modal-container .modal .successful-registration-block p {
    margin-bottom: 30px;
  }
  .start-container .modal-container .modal .successful-registration-block button {
    padding: 5px 10px;
    font-size: 16px;
  }
  .form-submit-login,
  .form-submit-register {
    max-width: 320px;
    padding: 5px 25px;
    font-size: 18px;
  }
  .mainblock .sidebar {
    width: 46px;
  }
  .mainblock .sidebar__link {
    padding: 6px;
  }
  .mainblock .sidebar .btn-logout {
    padding: 10px;
  }
  .mainblock .sidebar .btn-logout svg {
    width: 100%;
  }
  .mainblock__body {
    margin: 0px 0px 0px 46px;
  }
  .mainblock__header {
    display: none;
  }
  .mainblock__content {
    padding: 40px 40px 40px;
  }
  .mainblock__content .user-modal-container .user-modal {
    max-width: 260px;
    padding: 5px;
  }
  .mainblock__content .user-modal-container .user-modal__form label {
    font-size: 14px;
  }
  .mainblock__content .user-modal-container .user-modal__name, .mainblock__content .user-modal-container .user-modal__birthday, .mainblock__content .user-modal-container .user-modal__gender, .mainblock__content .user-modal-container .user-modal__weight, .mainblock__content .user-modal-container .user-modal__height, .mainblock__content .user-modal-container .user-modal__medicalInfo, .mainblock__content .user-modal-container .user-modal__goal, .mainblock__content .user-modal-container .user-modal__phone, .mainblock__content .user-modal-container .user-modal__email, .mainblock__content .user-modal-container .user-modal__achievements {
    font-size: 14px;
    padding: 4px 5px;
    margin: 5px 0px;
  }
  .mainblock__content .user-info__block h3 {
    font-size: 16px;
  }
  .mainblock__content .user-info__content {
    font-size: 14px;
  }
  .mainblock__content .user-info__content .name-block,
  .mainblock__content .user-info__content .birthday-block,
  .mainblock__content .user-info__content .gender-block,
  .mainblock__content .user-info__content .weight-block,
  .mainblock__content .user-info__content .height-block,
  .mainblock__content .user-info__content .medical-block,
  .mainblock__content .user-info__content .goal-block,
  .mainblock__content .user-info__content .contact-block,
  .mainblock__content .user-info__content .achievements-block {
    padding-bottom: 10px;
  }
  .mainblock__content .training-content .training-buttons {
    width: 200px;
  }
  .mainblock__content .diet-content .products-search {
    padding: 7px 10px;
    margin: 0px 0px 10px;
    font-size: 15px;
  }
  .mainblock__content .diet-content .products-table {
    overflow-x: scroll;
  }
  .mainblock__content .exercises-content .exercises-search {
    padding: 7px 10px;
    margin: 0px 0px 10px;
    font-size: 15px;
  }
}
@media (max-width: 479.98px) {
  .wrapper .container h1 {
    font-size: 50px;
  }
  .wrapper .btn-start {
    padding: 10px 25px;
  }
  .mainblock__header {
    font-size: 20px;
  }
  .mainblock__content {
    padding: 20px;
  }
  .mainblock__content h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .mainblock__content .user-info__block {
    padding: 10px;
  }
  .mainblock__content .training-content .training-block {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
  .mainblock__content .exercises-content .exercises-body .exercise-body .exercise-block {
    padding: 5px;
  }
  .mainblock__content .exercises-content .exercises-body .exercise-body .exercise-block__title {
    font-size: 18px;
    margin: 0px 0px 10px;
  }
  .mainblock__content .exercises-content .exercises-body .exercise-body .exercise-block__instructions {
    padding: 0px 10px;
    font-size: 14px;
  }
}/*# sourceMappingURL=media.css.map */